.carosuel-image{
    width: 80%;
    height: 23vw;
    margin: 10px auto;
    border-radius: 3px;
}
.carosul-container{
margin: 10px auto;
    width: 88%;
    height: 25vw;
    border: solid #005A6C 3px;
    background-color: #005A6C;
    border-radius: 3px;
}
