.dark-theme{
  color: #eee;
  background: #121212;
}
.dark{
     color: #eee;
  background: #121212; 
}
.light-theme{
    color: black;
    background: white;
}
.navbar{
  background-color: #005A6C;
  color: white;
}
a:link{
  color: white;
}